 *{
    
}

 
h2{
    margin-bottom: 30px;
   
    text-align: center;
    background-color:#c0c0c0;
}

#highlight {
   background-image: linear-gradient( #ffa07a,#FFFAF0);
    border: 4px solid black;
    font-size:24px;
    font-weight: bold;
    font-color:black;
    font-style: normal;
    float: right;
    padding: 10px 30px 10px 30px;
}
#highlight2 {
         background-image: linear-gradient(#ffa07a,#FFFAF0);
    border: 4px solid black;
    font-size:24px;
    font-weight: bold;
    font-color:black;
    font-style: normal;
    float: right;
    padding: 10px 30px 10px 30px;


}

 

#p1 {
    padding: 60px 20px 10px 20px;
    border: 3px solid;
    font-size:18px;
   background-image: linear-gradient( #e9967a,#FFFAF0);
    color:black;
    font-weight: bold;
    font-style: italic;
  }

#p2 {
     padding: 60px 20px 10px 20px;
    border: 3px solid;
    font-size:18px;
  background-image: linear-gradient(#e9967a,#FFFAF0);
    color:black;
    font-weight: bold;
    font-style: italic;
    
   }
/* RESPONSIVE WORK DEVICE */

.fili {
  width: 100%;

}
@media (min-width:992px)
{
.col1, .col2, .col3, .col4, .col5, .col6,.col7, .col8, .col9,.col10, .col11, .col12 {
  float: left; 
} 
.col1{
  width: 8.33%;
}
.col2{
  width: 16.66%;
}
.col3{
  width: 25%;
}
.col4{
  width: 33.33%;
}
.col5{
  width: 41.66%;
}
.col6{
  width: 50%;
}
.col7{
  width: 58.33%;
}
.col8{
  width: 66.66%;
}
.col9{
  width: 74.99%;
}
.col10{
  width: 83.33%;
}
.col11{
  width: 91.66%;
}
.col12{
  width: 100%;
}
        
}
@media (min-width:767px)
{
.colp1, .colp2, .colp3, .colp4, .colp5, .colp6,.colp7, .colp8, .colp9,.colp10, .colp11, .colp12 {
  float: left; 
} 
.colp1{
  width: 100%;
}
.colp2{
  width: 100%;
}
.colp3{
  width: 100%;
}
.colp4{
  width: 33.33%;
}
.colp5{
  width: 41.66%;
}
.colp6{
  width: 50%;
}
.colp7{
  width: 58.33%;
}
.colp8{
  width: 66.66%;
}
.colp9{
  width: 74.99%;
}
.colp10{
  width: 83.33%;
}
.colp11{
  width: 91.66%;
}
.colp12{
  width: 100%;
}
#cosita{
     position: relative;
}
         
}